:root {
    --green: #B6E750;
    --white: #ffffff;
    --purple: #87009D;
    --black: #000000;
    --input: #2E2721;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-container {
    max-width: 1920px;
    height: 1069px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("./img/bg.png");
    background-repeat: no-repeat;
    position: relative;
}

.main-container img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.content {
    position: absolute;
    top: 80px;
    right: 277px;
    text-align: center;
}

.logo {
    width: 255px;
    height: 61px;
}

h1 {
    font-family: 'Tajawal', sans-serif;
    max-width: 689px;
    color: var(--white);
    font-size: 44px;
    font-weight: 700;
    margin-top: 31px;
    line-height: 60px;
}

.subtitle {
    font-family: 'Tajawal', sans-serif;
    color: var(--green);
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
}

.description {
    color: var(--white);
    font-size: 26px;
    line-height: 44px;
    font-weight: 700;
    max-width: 494px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-top: 18px;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px auto;
    max-width: 328px;
}

input {
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 29px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--input);
    border: none;
}

.password {
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: var(--input);
}

.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.argeement {
    font-family: 'Tajawal', sans-serif;
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    padding-right: 10px;
}

.form-btn {
    background: -webkit-linear-gradient(268deg, rgba(255, 255, 255, 1) 0%, rgba(158, 235, 0, 0.7777704831932774) 52%);
    background: linear-gradient(182deg, rgba(255, 255, 255, 1) 0%, rgba(158, 235, 0, 0.7777704831932774) 52%);
    box-shadow: 0px 3px 6px #00000029;
    width: 322px;
    height: 52px;
    border-radius: 5px;
    font-family: 'Tajawal', sans-serif;
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    border: none;
    cursor: pointer;
}

.info-container {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    padding: 0 10px;
}

.parallax {
    background-image: url("./img/bg2.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.statistics-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 792px;
    margin: 0 auto;
    padding: 82px 10px;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    gap: 10px;

}

.statistics-description {
    font-family: 'Tajawal', sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: var(--black);
    margin-top: 23px;
    line-height: 60px;
}

.info-title {
    font-family: 'Tajawal', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: var(--purple);
    line-height: 60px;
    max-width: 1131px;
    margin: 65px auto;
    height: 135px;
    text-align: center;
    padding: 0 10px;
}



/* Achievements Container */
.achievements-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    max-width: 1215px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 74px;
}

.achievements-item {
    background-image: url(./img/box.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 354px;
    height: 345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

}

.icon {
    width: 80px;
    height: 53px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-top: 10px;
}

.db {
    width: 44px;
    height: 60px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-top: 10px;
}

.achievements-title {
    font-family: 'Tajawal', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin: 27px 0 16px 0;
    line-height: 60px;
    color: var(--white);
}

.achievements-text {
    font-family: 'Tajawal', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 0px 32px;
    color: var(--white);
    line-height: 38px;
}

.wrapper-btn {
    margin: 0 auto;
    padding-bottom: 109px;

}

.achievements-btn {
    background: -webkit-linear-gradient(268deg, rgba(255, 255, 255, 1) 0%, rgba(158, 235, 0, 0.7777704831932774) 52%);
    background: linear-gradient(182deg, rgba(255, 255, 255, 1) 0%, rgba(158, 235, 0, 0.7777704831932774) 52%);
    box-shadow: 0px 3px 6px #00000029;
    width: 352px;
    height: 71px;
    margin-bottom: 109px;
    border-radius: 5px;
    font-family: 'Tajawal', sans-serif;
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.swiper {
    display: none;
    visibility: hidden;
}

.content-mobile {
    display: none;
    visibility: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-image: url(./img/slider-bg.png);
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container {
    width: 100%;
}

.swiper-wrapper {
    width: 50%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    width: auto;
}

.swiper-pagination-bullet-active {
    background-color: var(--purple) !important;
    border: 4px solid var(--purple);
}

.swiper-pagination-bullet {
    background-color: white;
    border: 1px solid var(--purple);
}

.slide-image {
    height: 400px;
    width: auto;
}

.btn {
    background: -webkit-linear-gradient(268deg, rgba(255, 255, 255, 6) 0%, rgba(158, 235, 0, 4) 52%);
    background: linear-gradient(182deg, rgba(255, 255, 255, 6) 0%, rgba(158, 235, 0, 4) 52%);
    box-shadow: 3px 14px 33px 30px rgba(0, 0, 0, 0.75);
    width: 352px;
    width: 100%;
    height: 71px;
    border-radius: 5px;
    font-family: 'Tajawal', sans-serif;
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    border: none;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 999;
    position: fixed;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 3px;
    bottom: 20px;
    visibility: hidden;
}

@media screen and (max-width: 1600px) {
    .main-container {
        background: -webkit-linear-gradient(rgb(55 53 53 / 80%), rgb(28 28 28 / 60%)), url("./img/bg.png");
        background: linear-gradient(rgb(55 53 53 / 80%), rgb(28 28 28 / 60%)), url("./img/bg.png");
    }

    .content {
        right: 45px;
    }
}

@media screen and (max-width: 1400px) {
    .content {
        right: 15px;
    }
}

@media screen and (max-width: 1270px) {
    .content {
        right: 340px;
    }
}

@media screen and (max-width: 1150px) {
    .content {
        right: 240px;
    }

}

@media screen and (max-width: 1050px) {
    .main-container {
        background: url("./img/mobile-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        display: none;
        visibility: hidden;
    }

    .content-mobile {
        display: block;
        visibility: visible;
        position: absolute;
        top: 23px;
        left: 250px;
        padding: 0 10px;
        text-align: center;
    }

    h1 {
        margin-bottom: 10px;
    }

    h1,
    .subtitle {
        font-size: 30px;
    }

    .wrapper-form {
        border-radius: 21px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        padding: 10px 4px 20px 4px;
        margin-top: 310px;
    }
}

@media screen and (max-width:970px) {
    .content-mobile {
        left: 165px;
    }


}

@media screen and (max-width: 770px) {
    .statistics-container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 17px;
    }

    .main-container {
        background-position: center;
    }

    .info-container {
        padding: 0px 10px 70px 10px;
    }

    .wrapper-form {
        margin-top: 245px;
    }

    .content-mobile {
        left: 100px;
    }

    .achievements-container {
        gap: 110px;
    }
}

@media screen and (max-width: 665px) {
    .content-mobile {
        left: 70px;
    }
}

@media screen and (max-width: 620px) {
    .content-mobile {
        left: 45px;
    }
}

@media screen and (max-width: 585px) {
    .main-container {
        background-position: center;
    }

    .wrapper-form {
        margin-top: 309px;
    }

    .content-mobile {
        left: 20px;
    }

    .info-title {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 500px) {
    .swiper {
        display: block;
        visibility: visible;
        width: 100%;
        height: 100%;

    }

    .achievements-container {
        display: none;
        visibility: hidden;
        gap: 4px;
    }

    .achievements-item {
        background-image: url(./img/mobile-box.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 281px !important;
        height: 365px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .achievements-title {
        margin: 0 7px;
        width: 100%;
        font-size: 34px;
    }

    .achievements-text {
        padding: 0 4px;
        line-height: 34px;
    }

    .icon {
        width: 45px;
    }

    .statistics-item:not(:first-child) {
        margin-bottom: 58px;
    }

    .info-container {
        padding: 0px 10px 80px 10px;

    }

    .info-title {
        margin: 0 auto;
        font-size: 34px;
        margin-bottom: 67px;

    }

    .btn {
        visibility: visible;
    }

    .password {
        font-size: 18px;
        line-height: 25px;
    }

}

@media screen and (max-width: 475px) {
    .content-mobile {
        left: 0;
    }
}

@media screen and (max-width: 360px) {
    .main-container {
        background-position: center;
        background-size: cover;
    }

    .wrapper-content {
        margin-bottom: 270px;
    }

    .content-mobile {
        left: 0;
    }

    .logo {
        width: 169px;
        height: 41px;
    }

    .wrapper-form {
        border-radius: 21px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        padding: 10px 4px 20px 4px;
    }

    .description {
        font-size: 23px;
        line-height: 30px;
    }

    h1 {
        font-size: 30px;
        max-width: 323px;
        line-height: 36px;

    }

    .subtitle {
        font-size: 30px;
        max-width: 323px;
        line-height: 35px;
    }

    form {
        padding: 0px 10px;
    }

    input {
        padding: 17px 10px;
    }

    .checkbox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .argeement {
        font-size: 14px;
        line-height: 19px;
    }

    .form-btn {
        width: 296px;
        height: 53px;
    }

    .info-title {
        line-height: 44px;
    }
}